---
export async function getStaticPaths() {
  const artists = await fetch(
    "https://sfjafeukemmdrumyuart.supabase.co/rest/v1/karussel",
    {
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmamFmZXVrZW1tZHJ1bXl1YXJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzUzOTksImV4cCI6MjA0NDIxMTM5OX0.8EgW5zS9C2qEtcvQMc-sTPbQibDD7SzUEONbYZDBNrk",
      },
    }
  ).then((res) => res.json());

  return artists.map((artist) => ({
    params: { artist: artist.slug }, 
    props: { artist }, 
  }));
}

const { artist } = Astro.props;
console.log(artist); 

import Layout from "../../layout/Layout.astro";
import Button from "../../components/Button.astro";
import Header from "../../components/Header.astro";


---

<head> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>

<Layout>
  <main class="artist-profile">
    <h1>{artist.artist}</h1>
    <img src={`/img/${artist.image}`} alt={artist.name} />
       <h2>{artist.time}</h2>
    <p class="artist-about">{artist.about}</p>
    <a href="https://www.ticketmaster.dk/event/553467?language=da-dk">
        <Button variant="primary">TICKETS</Button>
      </a>
  </main>
</Layout>

<style>
   body {
    margin: 0;
    background-color: #120524 
    color: white; 
  }
   .artist-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  h1 {
    color: #96E9FF; 
    text-align: center;
    font-size: 2.5rem; 
    margin-bottom: 15px; 
  }
  h2{
     color: #96E9FF; 
  }


  img {
    width: 100%;
    max-width: 400px; 
    max-height: 400px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .artist-about {
    color: white;
    font-weight: 200;
    line-height: 1.6;
    text-align: center; 
    max-width: 600px; 
    font-family: 'Roboto', sans-serif;
  }


</style>
