---
const { variant, artist } = Astro.props;
---

<li data-variant={variant}>
  <a href={`/artist/${artist.slug}`}>
    <h3>{artist.artist}</h3>
    <h4>{artist.time}</h4>
    <img src={`/img/${artist.image}`} alt={artist.name} />
  </a>
</li>

<style>
  /*   Primary variant */
  /* [data-variant="primary"] { */
  li {
    margin: 1rem;
    border-style: solid;
    color: rgb(0, 255, 4);
    border-radius: 10px;
    border-width: 1px;
    display: grid;
    justify-content: center;
  }

  img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  h3 {
    font-size: 2rem;
    display: grid;
    justify-content: center;
    color: #96e9ff;
  }

  h4 {
    display: grid;
    justify-content: center;
    color: rgb(224, 223, 223);
  }

  a {
    text-decoration: none;
  }
  /* } */

  /* * [data-variant="secondary"] {
    img {
      width: 100%;
      max-width: 200px;
      max-height: 200px;
    }
    li {
      background-color: #dff8ff;
      display: flex;
      overflow-x: scroll;
      flex-shrink: 0;
      gap: 1rem;
      justify-content: center;
      padding: 1rem;
      width: 350px;
    }
    h3 {
      font-size: 2rem;
      display: grid;
      justify-content: center;
      color: black;
    }
    h4 {
      display: grid;
      justify-content: center;
      color: rgb(69, 69, 69);
    }
    a {
      text-decoration: none;
    }
  } */
</style>
